body {
    margin: auto;
    width: 34%;
}

h1 {
    color: green;
}

#count {
    color: rgb(221, 55, 55);
}

.grid-container {
    display: grid;
    width: 400px;
    align-content: center;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background: #2196F3;
    padding: 10px;
    cursor: pointer;
}

.grid-container>div {
    background: grey;
    height: 70px;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}